# Variables de entorno
.env
.env.*

# Permitir archivo de ejemplo
!.env.example

# Dependencias PHP
/vendor/

# Archivos del sistema
.DS_Store
Thumbs.db

# IDE / Editores
.vscode/
.idea/

# Logs
*.log

# Archivos temporales
*.tmp
*.temp
